<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WikAnimals.com</title>
        <!-- Правильный путь для подключения статического файла -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', v=1) }}">
    </head>
<body class="index-page">
    <div class="card">
        <h1>Добро пожаловать на WikAnimals.com</h1>
        <form action="/result" method="post">
            <label for="animal">Введите название животного:</label>
            <input type="text" id="animal" name="animal" required>
            <button type="submit">Поиск</button>
        </form>
    </div>
</body>
</html>